@charset "UTF-8";
/*Create date 2015-11-17*/
@import url(/Css/cssReset.css);
@import url(/Css/flexslider.css);
/*引入外部样式表初始化css样式*/
a.flex-pre {
  float: left;
  background: rgba(50, 50, 50, 0.8) url("../Images/iconfont-left.png") no-repeat;
  background-size: 100%;
}

a.flex-next {
  float: right;
  background: rgba(50, 50, 50, 0.8) url("../Images/iconfont-right.png") no-repeat;
  background-size: 100%;
}

.advertisement {
  display: inline-block;
  position: fixed;
  left: 1145px;
  width: 100px;
  height: 350px;
  top: 20px;
  z-index: 399;
}
.advertisement .advertisement-box {
  position: relative;
  margin-bottom: 20px;
}
.advertisement .advertisement-box a {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  right: -15px;
  top: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: transparent url("../Images/iconfont-close01.png") no-repeat 0 0;
  background-size: 100%;
}
.advertisement .advertisement-box img {
  width: 100%;
}

.fixed-tools {
  position: fixed;
  display: inline-block;
  left: 1140px;
  top: 450px;
  width: 30px;
  height: 121px;
}
.fixed-tools ul {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.fixed-tools ul li {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.fixed-tools ul li a {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.fixed-tools ul li:first-child a {
  display: none;
  background: #ddd url("../Images/iconfont-fixed-tool-1.png") no-repeat 50% 3px;
  background-size: 80%;
}
.fixed-tools ul li:first-child a:hover {
  background: #35b055 url("../Images/iconfont-fixed-tool-1.png") no-repeat 50% 3px;
  background-size: 80%;
}
.fixed-tools ul li:nth-child(2) a {
  background: #f7f7f7 url("../Images/iconfont-fixed-tool-2.png") no-repeat -35% 50%;
  background-size: 160% 80%;
}
.fixed-tools ul li:nth-child(2) a:hover {
  background: #ddd url("../Images/iconfont-fixed-tool-2.png") no-repeat 140% 50%;
  background-size: 160% 80%;
}
.fixed-tools ul li:nth-child(3) {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.fixed-tools ul li:nth-child(3) a {
  background: #f7f7f7 url("../Images/iconfont-fixed-tool-3.png") no-repeat 8px 50%;
  background-size: 150% 70%;
}
.fixed-tools ul li:nth-child(3) a:hover {
  background: #ddd url("../Images/iconfont-fixed-tool-3.png") no-repeat -23px 50%;
  background-size: 150% 70%;
}
.fixed-tools ul li:nth-child(4) a {
  background: #f7f7f7 url("../Images/iconfont-fixed-tool-4.png") no-repeat 50% 0;
  background-size: 80%;
}
.fixed-tools ul li:nth-child(4) a:hover {
  background: #ddd url("../Images/iconfont-fixed-tool-4.png") no-repeat 50% 0;
  background-size: 80%;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 1000px;
}

a:hover {
  color: #35b055;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*头部布局*/
/*头部分为上下两个部分*/
.panel-style, header .header-panel .header-logo, header .header-panel .header-search, header .header-panel .header-login {
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 31%;
  height: 100%;
}

header {
  position: relative;
  width: 100%;
  height: 110px;
  border-bottom: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
  /*头部上方内容*/
}
header .header-loading {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 2px;
  top: 70px;
  border: 0;
  z-index: 9;
  background: -webkit-linear-gradient(left, #35b558, #3555cf);
  background: linear-gradient(left, #35b558, #3555cf);
}
header .header-panel {
  position: relative;
  margin: 0 auto;
  height: 70px;
  width: 1000px;
}
header .header-panel .header-logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .header-panel .header-search {
  width: 37%;
}
header .header-panel .header-search form {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #ccc;
}
header .header-panel .header-search form .hot-search {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  right: 10%;
  width: 45%;
  height: 70%;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-top: 5px;
}
header .header-panel .header-search form .hot-search a {
  float: left;
  margin-right: 10px;
  color: #777;
  background: rgba(240, 240, 240, 0.7);
}
header .header-panel .header-search form .hot-search a:hover {
  color: #333;
  background: rgba(200, 200, 200, 0.7);
}
header .header-panel .header-search form #search-input {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 50%;
  left: 10px;
  margin: auto;
  border: 0;
  padding: 5px;
}
header .header-panel .header-search form #search-submit {
  float: right;
  display: inline-block;
  width: 10%;
  height: 100%;
  cursor: pointer;
  background: #fff url("../Images/iconfont-search.png") no-repeat 7px 5px;
  background-size: 200% 75%;
  border: 1px solid #ccc;
}
header .header-panel .header-search form #search-submit:hover {
  background: transparent url("../Images/iconfont-search.png") no-repeat -40px 5px;
  background-size: 200% 75%;
  background-color: #35b055;
}
header .header-panel .header-login {
  width: 32%;
}
header .header-panel .header-login ul {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: auto 0;
  width: 100%;
  height: 50%;
}
header .header-panel .header-login ul li {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 15%;
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
}
header .header-panel .header-login ul li:nth-child(3) {
  width: 25%;
}
header .header-panel .header-login ul li:first-child a {
  float: right;
  text-align: right;
}
header .header-panel .header-login ul li:last-child a {
  border: 0;
}
header .header-panel .header-login ul li a {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  text-align: center;
  border-left: 1px solid #ccc;
}

.header-nav {
  position: relative;
  margin: 0 auto;
  height: 40px;
  width: 1000px;
}
.header-nav ul {
  position: absolute;
  width: 100%;
  height: 60%;
  padding: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.header-nav ul li {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
}
.header-nav .header-navbar {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 70%;
  height: 100%;
}
.header-nav .header-navbar li {
  position: relative;
  top: 3px;
  margin: 0;
  padding: 0;
  width: 18%;
  float: left;
}
.header-nav .header-navbar li:first-child {
  width: 10%;
}
.header-nav .header-navbar li:last-child {
  left: -10px;
  width: 5%;
}

.header-navtools {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 30%;
  height: 100%;
}
.header-navtools ul {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
}
.header-navtools li {
  position: relative;
  float: right;
  width: 33%;
  height: 100%;
  text-align: right;
}
.header-navtools li a {
  text-align: right;
}
.header-navtools li a img {
  position: relative;
  top: 10px;
}
.header-navtools li a span {
  position: relative;
  font-size: 14px;
  top: 10px;
}
.header-navtools li:last-child span {
  top: 3px;
}

/*开始定义网页内容部分*/
.content-top-box {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

.lesson-classify-style, .lessons-classify-outer, .lessons-classify, .lessons-classify-downer, .lessons-classify-downer img, .lessons-classify-content {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.lessons-classify-outer {
  left: -20px;
  top: -20px;
  width: 21%;
  height: 150%;
}

.lessons-classify {
  float: left;
  width: 21%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  border-top: 2px solid #35b558;
}
.lessons-classify:hover {
  z-index: 99;
  height: 410px;
}
.lessons-classify ul {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.lessons-classify ul li {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 37px;
  border-bottom: 1px solid rgba(235, 235, 235, 0.7);
  background: #fff;
}
.lessons-classify ul li a {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 8px 10px 8px 15px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lessons-classify ul li a img {
  position: relative;
  width: 20px;
  float: right;
  right: 20px;
}
.lessons-classify ul li:hover {
  border-left: 1px solid #35b558;
}
.lessons-classify ul li:hover a img {
  display: none;
}

.lessons-classify-downer {
  width: 21%;
  height: 8px;
  bottom: -8px;
  left: 0;
  background: whitesmoke;
  border: 1px solid #ccc;
  border-top: 0;
}
.lessons-classify-downer img {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.lessons-classify-content {
  width: 400px;
  height: 140%;
  left: 21%;
}
.lessons-classify-content div {
  position: absolute;
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: -2px;
  background: #fff;
}

.top-banner,
.top-right-box {
  float: right;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.top-banner {
  position: relative;
  width: 570px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  cursor: pointer;
  overflow: hidden;
}
.top-banner:hover .banner-change {
  opacity: 1;
}
.top-banner .banner-change {
  opacity: 0;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 50px;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  margin: auto;
}
.top-banner .banner-change a {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.top-banner ul {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 500%;
  height: 100%;
}
.top-banner ul li {
  display: inline-block;
  width: 20%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}

@-webkit-keyframes animation {
  0% {
    left: 0;
  }
  19% {
    left: 0;
  }
  20% {
    left: -570px;
  }
  39% {
    left: -570px;
  }
  40% {
    left: -1140px;
  }
  69% {
    left: -1140px;
  }
  70% {
    left: -1710px;
  }
  99% {
    left: -1710px;
  }
  100% {
    left: -2280px;
  }
}
@-khtml-keyframes animation {
  0% {
    left: 0;
  }
  19% {
    left: 0;
  }
  20% {
    left: -570px;
  }
  39% {
    left: -570px;
  }
  40% {
    left: -1140px;
  }
  69% {
    left: -1140px;
  }
  70% {
    left: -1710px;
  }
  99% {
    left: -1710px;
  }
  100% {
    left: -2280px;
  }
}
@-o-keyframes animation {
  0% {
    left: 0;
  }
  19% {
    left: 0;
  }
  20% {
    left: -570px;
  }
  39% {
    left: -570px;
  }
  40% {
    left: -1140px;
  }
  69% {
    left: -1140px;
  }
  70% {
    left: -1710px;
  }
  99% {
    left: -1710px;
  }
  100% {
    left: -2280px;
  }
}
@-moz-keyframes animation {
  0% {
    left: 0;
  }
  19% {
    left: 0;
  }
  20% {
    left: -570px;
  }
  39% {
    left: -570px;
  }
  40% {
    left: -1140px;
  }
  69% {
    left: -1140px;
  }
  70% {
    left: -1710px;
  }
  99% {
    left: -1710px;
  }
  100% {
    left: -2280px;
  }
}
@-ms-keyframes animation {
  0% {
    left: 0;
  }
  19% {
    left: 0;
  }
  20% {
    left: -570px;
  }
  39% {
    left: -570px;
  }
  40% {
    left: -1140px;
  }
  69% {
    left: -1140px;
  }
  70% {
    left: -1710px;
  }
  99% {
    left: -1710px;
  }
  100% {
    left: -2280px;
  }
}
.banner-change-left {
  float: left;
  background: transparent url("../Images/iconfont-left.png") no-repeat 0 0;
  background-size: 100%;
}

.banner-change-right {
  float: right;
  background: transparent url("../Images/iconfont-right.png") no-repeat 0 0;
  background-size: 100%;
}

.top-right-button, .top-right-box .right-box-content .top-right-up button, .top-right-box .right-box-content .top-right-down button {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 168px;
  height: 34px;
  border: 0;
  transition: .5s;
}

.top-right-box {
  border: 1px solid #ccc;
  position: relative;
  width: 21%;
}
.top-right-box .right-box-content {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.top-right-box .right-box-content .top-right-up {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #e6e6e6;
}
.top-right-box .right-box-content .top-right-up button {
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  background: #35b055;
  color: #ffffff;
}
.top-right-box .right-box-content .top-right-up button:hover {
  background: #4eca6e;
}
.top-right-box .right-box-content .top-right-down {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 50%;
}
.top-right-box .right-box-content .top-right-down button {
  bottom: -8px;
  left: 0;
  right: 0;
  margin: auto;
  color: #35b055;
  border: 1px solid #35b055;
  background: #f0fff0;
}
.top-right-box .right-box-content .top-right-down button:hover {
  color: #ffffff;
  background: #bdffbd;
}
.top-right-box .right-box-content .top-right-down h3 {
  top: 20px;
  margin-bottom: 30px;
}
.top-right-box .right-box-content .top-right-down p {
  left: 8px;
  margin: 5px;
}
.top-right-box .right-box-content h3 {
  position: relative;
  left: 5px;
  top: 5px;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
}
.top-right-box .right-box-content p {
  position: relative;
  left: 5px;
  font-size: 14px;
  color: #35b055;
}

.class-recommendation {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
}
.class-recommendation .class-recommendation-box {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 16.6%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.class-recommendation .class-recommendation-box a {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  line-height: 40px;
}
.class-recommendation .class-recommendation-box span {
  display: none;
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 12px;
  margin: auto;
  height: 12px;
  background: transparent url("../Images/iconfont-triangle-greenup.png") no-repeat 0 0;
  background-size: 100%;
}
.class-recommendation .class-recommendation-box:hover span {
  display: inline-block;
}

.class-classify-box {
  position: relative;
  width: 1000px;
  height: 500px;
}
.class-classify-box a {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.class-classify-box .play-now {
  transition-duration: .5s;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  top: 0;
  background: #333;
  opacity: 0;
  z-index: 9;
  background-size: 100%;
}
.class-classify-box .like-this-class {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  opacity: 0;
  z-index: 98;
  background: transparent url("../Images/iconfont-heart.png") no-repeat 0 0;
  background-size: 250% 100%;
}
.class-classify-box .like-this-class:hover {
  background: transparent url("../Images/iconfont-heart.png") no-repeat -30px 0;
  background-size: 250% 100%;
}
.class-classify-box ul {
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.class-classify-box ul li {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 23.5%;
  height: 46%;
  margin-top: 2%;
}
.class-classify-box ul li:hover a.play-now {
  opacity: .7;
}
.class-classify-box ul li:hover .class-text-box {
  height: 40%;
}
.class-classify-box ul li:hover .class-info-box {
  bottom: -35%;
  height: 90px;
}
.class-classify-box ul li:hover .like-this-class {
  opacity: 1;
}
.class-classify-box ul li:nth-child(1), .class-classify-box ul li:nth-child(5) {
  float: left;
  margin-right: 2%;
}
.class-classify-box ul li:nth-child(2), .class-classify-box ul li:nth-child(6) {
  float: left;
}
.class-classify-box ul li:nth-child(3), .class-classify-box ul li:nth-child(4), .class-classify-box ul li:nth-child(7), .class-classify-box ul li:nth-child(8) {
  float: right;
  margin-left: 2%;
}
.class-classify-box ul li .class-img-box {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 58%;
  top: 0;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.class-classify-box ul li .class-img-box .class-main-img {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.class-classify-box ul li .class-img-box img {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 50px;
  margin: auto;
}
.class-classify-box ul li .class-img-box a {
  margin: 0;
}
.class-classify-box ul .class-text-box {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 20%;
  top: 60%;
  overflow: hidden;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.class-classify-box ul .class-text-box h3 {
  font-size: 16px;
  margin: 10px;
}
.class-classify-box ul .class-text-box p {
  position: relative;
  top: 5px;
  margin: 5px;
  color: #666;
}
.class-classify-box ul .class-info-box {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  height: 20%;
  z-index: 199;
  overflow: hidden;
  background-color: #fff;
  transition-duration: .5s;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.class-classify-box ul .class-info-box span {
  display: inline-block;
  width: 50%;
  height: 45px;
  box-sizing: border-box;
  line-height: 50px;
  padding-left: 10px;
  float: left;
}
.class-classify-box ul .class-info-box .class-platform {
  text-align: right;
  padding-right: 10px;
}
.class-classify-box ul .class-info-box .class-visited {
  text-align: right;
  padding-right: 10px;
}
.class-classify-box ul.show {
  display: inline-block;
}

.job-path-header {
  position: relative;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
.job-path-header h3 {
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
}
.job-path-header a.more {
  float: right;
  line-height: 50px;
  color: #07f;
}

.technique-header {
  position: relative;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
.technique-header h3 {
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
}
.technique-header a.more {
  float: right;
  line-height: 50px;
  color: #07f;
}

.best-lessons-header {
  position: relative;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
.best-lessons-header h3 {
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
}
.best-lessons-header a.more {
  float: right;
  line-height: 50px;
  color: #07f;
}

.wiki-header {
  position: relative;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
.wiki-header h3 {
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
}
.wiki-header a.more {
  float: right;
  line-height: 50px;
  color: #07f;
}

.partner-header {
  position: relative;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
.partner-header h3 {
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
}
.partner-header a.more {
  float: right;
  line-height: 50px;
  color: #07f;
}

.school-header {
  position: relative;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
.school-header h3 {
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
}
.school-header a.more {
  float: right;
  line-height: 50px;
  color: #07f;
}

.media-header {
  position: relative;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
.media-header h3 {
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
}
.media-header a.more {
  float: right;
  line-height: 50px;
  color: #07f;
}

.job-path {
  position: relative;
  width: 100%;
  margin-top: 20px;
  height: 650px;
}
.job-path .job-path-content {
  position: relative;
  width: 100%;
  height: 600px;
  box-sizing: border-box;
}
.job-path .job-path-content ul {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.job-path .job-path-content ul li {
  position: relative;
  margin: 0;
  padding: 0;
  width: 20%;
  box-sizing: border-box;
  height: 50%;
  float: left;
  border: 1px solid #ccc;
  transition-duration: .5s;
  cursor: pointer;
}
.job-path .job-path-content ul li:hover {
  border: 1px solid #35b055;
}
.job-path .job-path-content ul li:hover button {
  background: #35b055;
  color: #ffffff;
}
.job-path .job-path-content ul li:hover img {
  opacity: .7;
}
.job-path .job-path-content ul li .engineer-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%;
}
.job-path .job-path-content ul li .engineer-image img {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.job-path .job-path-content ul li .engineer-text {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 40%;
}
.job-path .job-path-content ul li .engineer-text h3 {
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #333;
  text-align: center;
}
.job-path .job-path-content ul li .engineer-text p {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #777;
}
.job-path .job-path-content ul li button {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  width: 70%;
  height: 36px;
  border: 1px solid #35b055;
  left: 0;
  right: 0;
  background: #f5fff5;
  transition: .5s;
  color: #35b055;
  margin: auto;
}

.technique-system {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 530px;
}
.technique-system .technique-content {
  position: relative;
  width: 100%;
  height: 480px;
  box-sizing: border-box;
}
.technique-system .technique-content ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100.5%;
  height: 100%;
}
.technique-system .technique-content ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 16.6%;
  height: 25%;
  float: left;
  border: 1px solid #ccc;
  transition-duration: .5s;
}
.technique-system .technique-content ul li:hover {
  border: 1px solid #35b055;
}
.technique-system .technique-content .technique {
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.technique-system .technique-content .technique .technique-anim, .technique-system .technique-content .technique .technique-front, .technique-system .technique-content .technique .technique-back {
  transition-timing-function: linear;
  transition-duration: .5s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: .5s;
}
.technique-system .technique-content .technique .technique-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.technique-system .technique-content .technique .technique-front img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  right: 0;
  margin: auto;
  top: 20px;
}
.technique-system .technique-content .technique .technique-front p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 65px;
  color: #333;
}
.technique-system .technique-content .technique .technique-front a {
  position: absolute;
  width: 100%;
  bottom: 10px;
  color: #35b055;
  text-align: center;
}
.technique-system .technique-content .technique .technique-back {
  display: block;
  opacity: 0;
  -webkit-opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  background: #f0f0f0;
}
.technique-system .technique-content .technique .technique-back p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 55%;
}
.technique-system .technique-content .technique .technique-back button {
  position: absolute;
  top: 50%;
  width: 80%;
  border: 0;
  height: 30%;
  left: 0;
  right: 0;
  background: #35b055;
  color: #ffffff;
  margin: auto;
  cursor: pointer;
}
.technique-system .technique-content .technique .technique-back button:hover {
  background-color: #4eca6e;
}
.technique-system .technique-content .technique:hover .technique-front {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.technique-system .technique-content .technique:hover .technique-back {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.best-lessons {
  position: relative;
  width: 100%;
  height: 310px;
  margin-top: 20px;
}
.best-lessons .best-content {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 260px;
  text-align: center;
}
.best-lessons .best-content .the-best-lesson {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin-right: 1.31%;
  width: 24%;
  height: 100%;
  transition-duration: .5s;
  border: 1px solid #ccc;
}
.best-lessons .best-content .the-best-lesson .lesson-teacher {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  top: 0;
  left: 0;
  height: 90%;
  transition-duration: .5s;
  opacity: 0;
}
.best-lessons .best-content .the-best-lesson .lesson-teacher .teacher-img {
  position: absolute;
  border-radius: 50%;
  background: #aaa;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
}
.best-lessons .best-content .the-best-lesson .lesson-teacher .teacher-name {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 55px;
  font-size: 16px;
  color: #333;
}
.best-lessons .best-content .the-best-lesson .lesson-teacher .teacher-name:hover {
  color: #35b055;
}
.best-lessons .best-content .the-best-lesson .lesson-teacher .teacher-say {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 80px;
  text-align: left;
  color: #333;
}
.best-lessons .best-content .the-best-lesson .lesson-teacher .teacher-say:hover {
  color: #35b055;
}
.best-lessons .best-content .the-best-lesson .lesson-teacher .learn-now {
  position: absolute;
  bottom: 10px;
  width: 40%;
  left: 0;
  right: 0;
  margin: auto;
  height: 28px;
  border: 0;
  color: #fff;
}
.best-lessons .best-content .the-best-lesson:hover {
  border: 1px solid #35b055;
}
.best-lessons .best-content .the-best-lesson:hover .lesson-teacher {
  opacity: 1;
  background: rgba(250, 250, 250, 0.8);
}
.best-lessons .best-content .the-best-lesson:last-child {
  float: right;
  margin-right: 0;
}
.best-lessons .best-content .the-best-lesson .best-lesson-content {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.best-lessons .best-content .the-best-lesson .best-lesson-content h3 {
  text-align: left;
  color: #000;
  margin-bottom: 10px;
}
.best-lessons .best-content .the-best-lesson .best-lesson-content img {
  width: 100%;
  display: inline-block;
}
.best-lessons .best-content .the-best-lesson .best-lesson-content span {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #777;
}
.best-lessons .best-content .the-best-lesson .best-lesson-content button {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  bottom: 0;
  right: 0;
  border: 0;
  background: #35b055;
  color: #ffffff;
  width: 30%;
  border-radius: 2px;
  transition-duration: .5s;
}
.best-lessons .best-content .the-best-lesson .best-lesson-content button:hover {
  background: #4eca6e;
}

div.wiki {
  position: relative;
  width: 100%;
  height: 420px;
  margin-top: 20px;
}
div.wiki .wiki-content-box {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 33.3%;
  height: 370px;
  float: left;
  transition-duration: .5s;
  border: 1px solid #ccc;
}
div.wiki .wiki-content-box:hover {
  border: 1px solid #35b558;
}
div.wiki .wiki-content-box h3 {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  top: 0;
  width: 100%;
  line-height: 42px;
  box-sizing: border-box;
  padding-left: 15px;
  height: 42px;
}
div.wiki .wiki-content-box .best-wiki {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  transform-style: preserve-3d;
  width: 90%;
  height: 70%;
  left: 0;
  right: 0;
  top: 42px;
  margin: auto;
}
div.wiki .wiki-content-box .best-wiki .best-wiki-left-back {
  width: 47%;
  height: 75%;
  background: #ccc;
  float: left;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 6%;
}
div.wiki .wiki-content-box .best-wiki .best-wiki-right-back {
  width: 47%;
  height: 75%;
  background: #ccc;
  float: left;
  border-radius: 5px;
  box-sizing: border-box;
}
div.wiki .wiki-content-box .best-wiki .best-wiki-img-style, div.wiki .wiki-content-box .best-wiki .best-wiki-left-img, div.wiki .wiki-content-box .best-wiki .best-wiki-right-img {
  position: absolute;
  width: 47%;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  transform-origin: left;
  -webkit-transform-origin: left;
  cursor: pointer;
}
div.wiki .wiki-content-box .best-wiki .best-wiki-left-img {
  background: #f3a;
  left: 0;
}
div.wiki .wiki-content-box .best-wiki .best-wiki-left-img:hover {
  -webkit-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
}
div.wiki .wiki-content-box .best-wiki .best-wiki-right-img {
  background: #cf4;
  right: 0;
}
div.wiki .wiki-content-box .best-wiki .best-wiki-right-img:hover {
  -webkit-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
}
div.wiki .wiki-content-box .best-wiki .wiki-img-1 {
  background: url("../Images/bestwiki1.jpg") no-repeat;
  background-size: 100%;
}
div.wiki .wiki-content-box .best-wiki .wiki-img-2 {
  background: url("../Images/bestwiki2.jpg") no-repeat;
  background-size: 100%;
}
div.wiki .wiki-content-box .best-wiki .wiki-img-3 {
  background: url("../Images/bestwiki3.jpg") no-repeat;
  background-size: 100%;
}
div.wiki .wiki-content-box .best-wiki .wiki-img-4 {
  background: url("../Images/bestwiki4.jpg") no-repeat;
  background-size: 100%;
}
div.wiki .wiki-content-box .best-wiki .wiki-img-5 {
  background: url("../Images/bestwiki5.jpg") no-repeat;
  background-size: 100%;
}
div.wiki .wiki-content-box .best-wiki .wiki-img-6 {
  background: url("../Images/bestwiki6.jpg") no-repeat;
  background-size: 100%;
}
div.wiki .wiki-content-box .best-wiki .wiki-text, div.wiki .wiki-content-box .best-wiki .best-wiki-left-text, div.wiki .wiki-content-box .best-wiki .best-wiki-right-text {
  position: absolute;
  display: inline-block;
  width: 48%;
  height: 24%;
  box-sizing: border-box;
  bottom: 0;
}
div.wiki .wiki-content-box .best-wiki .best-wiki-left-text {
  left: 0;
}
div.wiki .wiki-content-box .best-wiki .best-wiki-right-text {
  right: 0;
}
div.wiki .wiki-content-box .best-wiki h3 {
  position: relative;
  top: -10px;
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
}
div.wiki .wiki-content-box .best-wiki p {
  position: relative;
  top: -10px;
  text-align: center;
  color: #777;
}
div.wiki .wiki-content-box .good-wiki {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 20%;
  bottom: 0;
}
div.wiki .wiki-content-box .good-wiki ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.wiki .wiki-content-box .good-wiki ul li {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 33.3%;
  float: left;
  list-style-type: circle;
}
div.wiki .wiki-content-box .good-wiki ul li span {
  display: inline-block;
  width: 50%;
  float: left;
  height: 100%;
  box-sizing: border-box;
}
div.wiki .wiki-content-box .good-wiki ul li span:first-child {
  text-align: left;
  padding-left: 15px;
}
div.wiki .wiki-content-box .good-wiki ul li span:last-child {
  text-align: right;
  padding-right: 15px;
}

div.partner {
  position: relative;
  width: 100%;
  height: 140px;
  margin-top: 20px;
}
div.partner .partner-body {
  width: 100%;
  height: 90px;
  border: 1px solid #ddd;
}
div.partner .partner-body .partner-content {
  position: relative;
  width: 95%;
  height: 50px;
  margin: 20px auto;
}

.banner-controller {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 18px;
  transition-duration: .5s;
  opacity: 0;
}
.banner-controller:hover {
  opacity: 1;
}
.banner-controller a {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.school {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 200px;
}
.school .school-body {
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
}
.school .school-body .school-content {
  position: relative;
  width: 95%;
  height: 110px;
  margin: 20px auto;
}

.media {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 140px;
}
.media .media-body {
  width: 100%;
  height: 90px;
  border: 1px solid #ddd;
}
.media .media-body .media-content {
  position: relative;
  width: 95%;
  height: 50px;
  margin: 20px auto;
}

.banner-controller-school {
  bottom: 50px;
}

/*开始定义底部样式*/
footer {
  width: 100%;
  height: 340px;
  margin-top: 50px;
  background: #f0f0f0;
}
footer .footer-content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: 280px;
}
footer .footer-content .footer-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 280px;
}
footer .footer-content .footer-text .footer-text-list {
  position: relative;
  box-sizing: border-box;
  margin-top: 10px;
  width: 70%;
  height: 100%;
  float: left;
}
footer .footer-content .footer-text .footer-text-list ul {
  display: inline-block;
  width: 18%;
  float: left;
  border-left: 1px solid #d2d2d2;
}
footer .footer-content .footer-text .footer-text-list ul li {
  position: relative;
  left: 10px;
  margin: 10px 0;
  list-style: disc;
}
footer .footer-content .footer-text .footer-text-info {
  position: relative;
  box-sizing: border-box;
  margin-top: 10px;
  width: 30%;
  height: 80%;
  border-left: 1px solid #d2d2d2;
  float: left;
}
footer .footer-content .footer-text .footer-text-info h3 {
  position: relative;
  width: 100%;
  text-align: center;
  top: 10px;
  color: #35b055;
}
footer .footer-content .footer-text .footer-text-info a.phone-download {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 20%;
}
footer .footer-content .footer-text .footer-text-info a.phone-download img {
  display: inline-block;
  position: relative;
  height: 50px;
  left: 50px;
}
footer .footer-content .footer-text .footer-text-info a.phone-download h2 {
  position: relative;
  font-size: 20px;
  top: -30px;
  left: 50px;
  display: inline-block;
  width: 60%;
}
footer .footer-content .footer-text .footer-text-info a.phone-download p {
  position: relative;
  left: 105px;
  top: -30px;
  display: inline-block;
  width: 60%;
}
footer .footer-content .footer-text .footer-text-info .outside-link {
  position: absolute;
  width: 60%;
  height: 40px;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
}
footer .footer-content .footer-text .footer-text-info .outside-link a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
footer .footer-content .footer-text .footer-text-info .outside-link a:nth-child(1) {
  background: transparent url("../Images/iconfont-weibo.png") no-repeat 0 0;
  background-size: 100%;
}
footer .footer-content .footer-text .footer-text-info .outside-link a:nth-child(2) {
  background: transparent url("../Images/iconfont-baidu.png") no-repeat 0 0;
  background-size: 100%;
}
footer .footer-content .footer-text .footer-text-info .outside-link a:nth-child(3) {
  background: transparent url("../Images/iconfont-wechat.png") no-repeat 0 0;
  background-size: 100%;
}
footer .footer-content .footer-text .footer-text-info a.service {
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  height: 25%;
  bottom: 10px;
}
footer .footer-content .footer-text .footer-text-info a.service img {
  display: inline-block;
  width: 20%;
  height: 100%;
  float: left;
  margin-left: 50px;
}
footer .footer-content .footer-text .footer-text-info a.service p {
  float: left;
  padding: 0;
  display: inline-block;
  width: 55%;
}

.copyright {
  position: relative;
  bottom: 0;
  height: 60px;
  z-index: 99;
  background: #fff;
}
.copyright .copyright-content {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  color: #777;
  line-height: 60px;
  text-align: center;
}

dl {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

dt,
dd {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 95%;
  margin-left: 2.5%;
}

dd a {
  display: inline-block;
  position: relative;
  top: 5px;
  line-height: 5px;
  border-right: 1px solid #ccc;
  margin-right: 5px;
  padding: 5px;
  height: 5px;
}

dt {
  border-bottom: 1px solid rgba(235, 235, 235, 0.8);
}

div.lesson-classify-3 {
  width: 140%;
  height: 150%;
}

div.lesson-classify-6 {
  height: 110%;
}
